@import "tailwindcss";
@font-face {
  font-family: 'Host Grotesk'; /* Choose a descriptive name */
  src: url('/fonts/Host_Grotesk-normal-400-latin.wBCQJesg.woff2') format('woff2');
  font-weight: 400; /* As indicated by the filename '400' */
  font-style: normal; /* As indicated by the filename 'normal' */
  font-display: swap; /* Best practice for performance */
}

body {
  font-family: 'Host Grotesk';
   background-color: #181717;
   scroll-behavior: smooth

}
h1,h2,h3{
  font-family:'Host Grotesk';

}
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1{
  /* font-family:'Roboto'; */
    font-weight: 300; /* or 700 */

}
.panel {
  z-index: 1;
  will-change: transform;
  backface-visibility: hidden;
   transform: translateZ(0);
}
.panel:nth-child(2) { z-index: 2; }
.panel:nth-child(3) { z-index: 3; }

.menu {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.child-1,
.child-2,
.child-3,
.child-4 {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
;}

.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.arimo-uniquifier {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.host-grotesk-uniquifier {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.urbanist-uniquifier {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping to a new line */
}
.marquee {
  display: flex;
  

}

 .marquee,.marquee-right{
  /* Common animation properties */
  animation: scroll 5s linear infinite; /* Use the same animation */
 }

/* Optional: Add a pause on hover */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-10%);
  }
}
