@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Roboto", sans-serif;

}
.panel {
  z-index: 1;
  will-change: transform;
  backface-visibility: hidden;
   transform: translateZ(0);
}
.panel:nth-child(2) { z-index: 2; }
.panel:nth-child(3) { z-index: 3; }